html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: aliceblue;
}

.bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px 9%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.bar .logo {
  font-size: 40px;
  font-weight: 800;
  color: rgb(255, 148, 48);
}

.bar ul {
  display: flex;
}

.bar ul li {
  list-style: none;
  margin-left: 90px;
}

.bar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}

.bar ul li:hover a,
.bar ul li .active a {
  color: rgb(255, 148, 48);
}

.Home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 60px 9% 0px;
  color: rgb(255, 255, 255);
}

.Home-info h1 {
  font-size: 55px;
}

.Home-info h2 {
  font-size: 30px;
  margin-top: -10px;
}

.Home-info p {
  display: flex;
  margin: 15px 0 20px;
}

.Home-info .btn-sci {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 13px 25px;
  background: rgb(255, 148, 48);
  border: 2px rgb(0, 0, 0);
  border-radius: 40px;
  box-shadow: 0 0 5px rgb(255, 148, 48);
  color: beige;
  font-weight: 600;
}

.btn:hover {
  background: rgb(236, 236, 236);
  color: rgb(255, 148, 48);
}

.Home-info .btn-sci .sci {
  margin-left: 20px;
}

.Home-info .btn-sci .sci a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid rgb(255, 148, 48);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(255, 148, 48);
  margin: 0 8px;
  transition: 0.5s;
}

.Home-info .btn-sci .sci a:hover {
  background: rgb(255, 148, 48);
  color: black;
  box-shadow: 0 0 10px rgb(255, 148, 48);
}

.Profile-Picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5%;
  border-radius: 50%;
}

.profile-image {
  position: absolute;
  right: 7vw;
  top: 20vh;
  width: 50vw;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
}

.Education {
  display: flex;
  background: rgb(24, 22, 21);
  align-items: center;
  height: auto;
  color: rgb(255, 255, 255);
  padding-left: 5%;
  background-size: auto;
  justify-content: center;
}

.Education-section h1 {
  margin-left: 0.5%;
}

.Education-section h3 {
  margin-left: 5%;
}

.Education-section li {
  margin-left: 10%;
  font-style: italic;
}

.education-card {
  border: 1px solid rgb(255, 148, 48);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  justify-content: center;
}

.education-card:hover {
  background-color: rgb(255, 148, 48);
  color: black;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.skills {
  background-size: 200%;
  background-color: black;
}
.card {
  background-color: #ff5722;
  border-radius: 10%;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  box-shadow: 0 0 10px rgb(255, 148, 48);
}

.card:hover {
  transform: scale(1.05);
  background-color: black;
  color: #ff5722;
  border-radius: 10%;
  padding: auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.About {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 60px 9% 0px;
  color: rgb(255, 255, 255);
  background-size: auto;
}

.About-info h1 {
  font-size: 55px;
  transition: 0.5s ease-in-out;
}

.About-info h2 {
  font-size: 30px;
  margin-top: -10px;
}

.About-info p {
  display: flex;
  margin: 15px 0 20px;
}

.About-info .btn-sci {
  display: flex;
  align-items: center;
}

.About-info h1:hover,
.About-info h1:active {
  color: #ff5722;
}

.projects {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 5;
  padding: 30px;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Card {
  background-color: #341309;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 148, 48);
  margin: 10px;
  padding: 15px;
  width: 300px;
  transition: transform 0.2s;
}

.Card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Card-Content {
  padding: 15px;
}

.Card-Content p {
  font-size: 14px;
  margin: 0 0 15px 0;
  line-height: 1.5;
}
.Card:hover {
  transform: scale(1.05);
  background-color: #000000;
  color: #ff5722;
}
